doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Test

    link(rel="stylesheet" href="static/css/main.css")

  body
    include ../layout/header.pug
    include ../layout/banner.pug
    include ../layout/main-content.pug
    include ../layout/map.pug
    include ../layout/footer.pug



  script(src = "static/js/libs.min.js")
  script(src = "static/js/main.js")





























