section.banner
  .center.center-banner
    .banner__title-wr
      h2.banner__title Visit Poz
        span.logo-color nan
    .banner__desc-wr
      p.banner__desc a city on the
        span.logo-color Warta
        | river in west-central
        span.logo-color Poland
        |, the region called
        span.logo-color Greater Poland.
  .banner__footer
    .center.center-banner__footer
      .person-wr
        img(src="./static/img/person/person1.png").person__avatar
        .person__right
          span.person-comment I was in Poznan once. The architecture
            br
            |  is really awesome.
          span.person-name Joe Wisdom, architect
      .person-wr
        img(src="./static/img/person/person2.png").person__avatar
        .person__right
          span.person-comment I was lost in Poznan
            br
            |  for 3 days.
            br
            |  I was terrified.
          span.person-name Little Box, child
      .person-wr
        img(src="./static/img/person/person3.png").person__avatar
        .person__right
          span.person-comment People used to
            br
            | look at me now
            br
            | they don’t see me.
          span.person-name Eva Doe, exmodel
      .person-wr
        img(src="./static/img/person/person4.png").person__avatar
        .person__right
          span.person-comment I have a lot of penfriends in Poznań. I like
            br
            | writting to them and ...
          span.person-name Emma Smith, child