footer.footer
  .center.center-footer
    .footer-wr
      h2.logo
        a(href="#") poz
          span.logo-color nan
          |  - city
          span.logo-color 2
          | live
      ul.footer-nav
        li.footer-nav__item
          a(href="#").footer-nav__link Home
        li.footer-nav__item
          a(href="#").footer-nav__link Product
        li.footer-nav__item
          a(href="#").footer-nav__link Services
        li.footer-nav__item
          a(href="#").footer-nav__link Contact
    span.rights All rights reserved 2013