header.header
  .center.center-header
    .header-wrapper
      h1.logo
        a(href="#") poz
          span.logo-color nan
          |  - city
          span.logo-color 2
          | live
      ul.social-menu
        li.social-menu__item
          a(href="#").social-menu__link.icon-el
        li.social-menu__item
          a(href="#").social-menu__link.icon-tt
        li.social-menu__item
          a(href="#").social-menu__link.icon-pt
        li.social-menu__item
          a(href="#").social-menu__link.icon-in
        li.social-menu__item
          a(href="#").social-menu__link.icon-fb
        li.social-menu__item
          a(href="#").social-menu__link.icon-cb

    nav.nav
      ul.nav__list
        li.nav__item
          a(href="#").nav__link.nav__link-current Home
        li.nav__item
          a(href="#").nav__link Product
        li.nav__item
          a(href="#").nav__link Services
        li.nav__item
          a(href="#").nav__link Contact
