main.main
  .center.center-main.clearfix

    section.main-content
      .main-content-wr
        article.main-article
          h3.main-article__title Why should you come to poznan
          .main-article-wr.clearfix
            .main-article__avatar-wr
              .avatar-date
                span 11 Nov
                  br
                  | 2013
              .avatar-author
                span by
                  br
                  | John Doe
            .main-article__content-wr
              p.main-article__content Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio  em nec elit. Sed posuere
                |  consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue. Donec  ullamcorper nulla non metus auctor fringilla.
                | Nulla vitae elit libero, a pharetra augue. Donec  ullamcorper nulla non metus auctor fringilla...
            .main-article__content-row
                .main-article__content-link-wr
                 a(href="#").main-article__content-link read more
                .main-article__content-like-wr
                  span.main-article__like 10 likes
                  span.main-article__comment 22 comments
        .recent-articles
          .recent-articles__row
            .recent-article-wr
              .recent-article
                span.recent-article__title New atractions
                span.recent-article__caption Posted by
                  span  John Doe
                  |  on
                  span 10 Nov 2013
                p.recent-article__description Donec sed odio dui. Duis mollis, est non commodo luctus,
                  |  nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                  | Sed posuere consectetur est at lobortis.
                a(href="#").recent-article__link more...
              .recent-articles__like-row
                  span.recent-articles__like 12
                  span.recent-articles__comment 34
            .recent-article-wr
              .recent-article
                span.recent-article__title Let's meet on old market square
                  br
                  | it will be fun
                span.recent-article__caption Posted by
                  span  John Doe
                  |  on
                  span  09 Nov 2013
                p.recent-article__description Donec sed odio dui. Duis mollis, est non commodo luctus,
                 |  nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                 | Sed posuere consectetur est at lobortis. Eget lacinia odio sem nec elit.
                 | Sed posuere consectetur est at lobortis.eget lacinia...
                a(href="#").recent-article__link more...
              .recent-articles__like-row
                  span.recent-articles__like 56
                  span.recent-articles__comment 55
          .recent-articles__banner
            span your add here

    aside.sidebar
      article.about-author
        h3.about-author__title About author
        p.about-author__desc
          span John Doe
          | - lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta.
      section.related-post
        h3.related-post__title Related posts
        .post-wr
          .post-img
            img(src="./static/img/post/post1.jpg")
          .post
            span.post__title POZNAN AT NIGHT
            span.post__comment 10 Comments
        .post-wr
          .post-img.border
            img(src="./static/img/post/post2.jpg")
          .post
            span.post__title PEOPLE TO MEET
            span.post__comment 21 Comments
        .post-wr
          .post-img.border
            img(src="./static/img/post/post3.jpg")
          .post
            span.post__title VISIT OUR OFFICE
            span.post__comment 17 Comments
      section.table-currency
        span.table-currency__tittle Currency
        table.table
          tr
            th Date
            th Value
            th Status
            th Diff
          tr.table-row-1
            td 22.1
            td 495.5
            td.green-arrow
            td +1.0
          tr.table-row-2
            td 21.1
            td 448.5
            td.red-arrow
            td -2.3
          tr.table-row-1
            td 20.1
            td 450.8
            td.green-arrow
            td +8.0